* {
	margin: 0;
	padding: 0;
	color: #c2d6ec;
}

#wrapper { 
    width: 970px;
    margin: 50px auto; 
    padding: 10px;
    background-color: #1b335d;
} 

#header {
	border-radius: 10px;
	background-color: #cf3036;
	padding: 15px 10px;
	margin-bottom: 15px;
}

#nav {
	background-color: #2a7d8c;
	border-radius: 10px;
	padding: 10px 10px 15px 15px;
	float: left;
	width: 15%;
	margin-right: 25px;
}

#nav ul {
	padding: 0 0 0 10px;
}

#nav ul ul {
	padding: 0 0 0 10px;
}

#main {
	background-color: #0e1822;
	border-radius: 15px;
	display: inline-block;
	width: 75%;
	padding: 20px;
}

#foot {
	background-color: #5d6673;
	border-radius: 15px;
	margin-top: 20px;
	height: 30px;
	padding: 15px 0px 0px 20px;
	font-size: 12px;
}

a, li {
	color: #6adde6;
	font-size: 12px;
}

p {
	font-size: 12px;
}

span {
	color: #6d80ce;
}

#main ul {
	padding: 0 0 0 10px;
} 

#main li {
	margin: 10px 0 0 0; 
}
