* {
	margin: 0;
	padding: 0;
	color: #C2D6EC;
}

#wrapper { 
    width: 970px;
    margin: 50px auto; 
    padding: 10px;
    background-color: #1B335D;
} 

#header {
	border-radius: 10px;
	background-color: #CF3036;
	padding: 15px 10px;
	margin-bottom: 15px;
}

#nav {
	background-color: #2A7D8C;
	border-radius: 10px;
	padding: 10px 10px 15px 15px;
	float: left;
	width: 15%;
	margin-right: 25px;
}

#nav ul, #nav ul ul {
	padding: 0 0 0 16px;
}

#main {
	background-color: #0E1822;
	border-radius: 15px;
	display: inline-block;
	width: 75%;
	padding: 20px;
}

#foot {
	background-color: #5D6673;
	border-radius: 15px;
	margin-top: 20px;
	height: 30px;
	padding: 15px 0px 0px 20px;
	font-size: 12px;
}

a {
	color: #56C5CD;
	font-size: 12px;
}

p {
	font-size: 12px;
}

span {
	color: #6d80ce;
}

#main ul {
	padding: 0 0 0 10px;
} 

#main li {
	margin: 10px 0 0 0; 
}



